// estilos para las etiquetas <code>
// más info sobre la etiqueta code https://developer.mozilla.org/es/docs/Web/HTML/Elemento/code

.code {
  font-size: 16px;
  background: #d8d8d8;
  padding: 0 5px;
  border-radius: 5px;
}

/* NO SABEMOS QUÉ ES */
