.footer {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  border-top: 1px solid #54585a;
  padding: 30px;
}

.footer__copy {
  color: #b8b8b9;
}

.footer__list {
  margin: 15px auto;
}

.footer__list-item {
  margin: 5px auto;
}

.footer__list-link {
  text-decoration: none;
  color: #54585a;
}

.container-logo {
  width: 30%;
  margin: 0 auto;  //0 arriba y abajo y el auto izq y dcha, para poder centrarlo
}

.logo-adalab {
  max-width: 100%;
}

@media all and (min-width: 480px) {


  .footer__copy {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 20px;
    width: 30vw;
  }

  .footer__list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 2;
    
  }

  .footer__list-link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    
  }

  .footer__list {
    display:list-item;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    margin-left: 70%;
    margin-top: -30px;
    
    
  }

  .container-logo {
    display: flex;
    position: relative;
    bottom: 60px;
    margin: 0; 
    width: 20%;
    padding-left: 20px;
    margin-bottom: -50px;
    
    
  }

  .logo-adalab {
    max-width: 100%;
    z-index: 1;
    
  }

  }