.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #54585a;
  padding: 30px;
}

.footer__copy {
  text-align: center;
  color: #b8b8b9;
}

.footer__list {
  text-align: center;
  margin: 15px auto;
}

.footer__list-item {
  margin: 5px auto;
}

.footer__list-link {
  text-decoration: none;
  color: #54585a;
}

.container-logo {
  width: 30%;
  margin: 0 auto;  //0 arriba y abajo y el auto izq y dcha, para poder centrarlo
}

.logo-adalab {
  max-width: 100%;
}

