/* .page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
*/

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0px;
  width: 100%;
}



.nombre-grupo {
  padding: 15px;
  font-size:x-large;
  background-color: #099d8d;
  opacity: 1;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
}

.nav {
  padding: 10px;;
  background-color: #14d9c4;
}

.listas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
}

.nav-link {
  text-decoration: none;
  opacity: 1;
  color: #ffffff;
}

/*.nav-link::after {
  content:".";
}*/
