.imagenlaia {
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    border: 5px solid #b8b8b9;
    background-position: 50% 50%;
    justify-content: center;
}

.imagenpilar {
    margin: auto;
    width: 200px;
    height: 200px;
    justify-content: center;
    display: flex;
    border: 5px solid #b8b8b9;
   
}

.imagenpilar img {
    width: 100%;
}

.imagenlourdes {
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
    border: 5px solid #b8b8b9;
    justify-content: center;
}

.imagenlourdes img {
    width: 100%;
}